.company-profile-page-banner {
  height: 200px;
  width: 800px;
}
.uhire-landing-background {
  background: url('images/Background4CD.jpg') no-repeat center center fixed;
  background-size: cover;
  height: 1500px;
  color: white;
  vertical-align: middle;
  padding-top: 300px;
  padding-bottom: 2.5rem;
  position: relative;
}
.landing-font {
  font-family: 'Roboto', serif;
  font-weight: bold;
  font-size: x-large;
  color: lightgrey;
  vertical-align: middle;
  padding-top: 30px;
}
#footer {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 2.5rem;            /* Footer height */
}
.page-filler {
  height: 610px;
}

.main_container {
  height: 46px;
  width: auto;
  padding: 3px;
  margin: 2px;
  max-width: 300px;
  background-color: #555555;
  align-content: center;
}
.container_inner {
  height: auto;
  border: none;
  background-color: #555555;
  max-width: 290px;
  vertical-align: center;
  padding-top: 12px;
  padding-left: 10px;
  align-content: center;
}
.num_tiles {
  width:30px;
  height: 30px;
  background-color: #888888;
  color: #ffffff;
  font-size: 22px;
  text-align: center;
  line-height: 20px;
  padding: 3px;
  margin: 1.5px;
  font-family: verdana;
  vertical-align: center;
}
.hyper-link-font {
  font-family: 'Roboto', serif;
  font-weight: bold;
  font-size: x-large;
  color: #4183c4;
  vertical-align: middle;
}

