.uhire-landing-background {
  background: url('images/Background4CD.jpg') no-repeat center center fixed;
  background-size: cover;
  height: 1500px;
  color: white;
  vertical-align: middle;
  padding-top: 300px;
}
.landing-font{
  font-family: 'Roboto', serif;
  font-weight: bold;
  font-size: x-large;
  color: lightgrey;
  vertical-align: middle;
  padding-top: 30px;
}

